@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Hind:700,400);


body{
	font-family: "Hind";
}

.navbar-brand{
	font-family: "Montserrat";
	font-weight: bold;
}

.navbar-username{
	font-weight: bold;
}

.timeline-sidebar{

}


.timeline-main{
	padding : 0px;
	list-style-type: none;
}


.timeline-year{
	font-size: 14px;
}

.timeline-year.unfolded{
	font-weight: bold;

}


.timeline-month-list{
	font-weight: normal;
	padding-left: 20px;
	list-style-type: none;
	font-size: 14px;
}

.timeline-month.selected{
	font-weight: bold;
}

.entry{
	padding-top: 20px;
	font-size: 16px;
}

.modif{
	margin-top: 10px;
}

.modif button{
	padding: 0px;
	padding-top: 9px;
	max-width: 40px;
	margin-bottom: 5px;
}

.input-entry{
	padding-top: 20px;
	font-size: 16px;
}

.entry-input-description-field{
	width: 100%;
	min-height: 130px;
}

.appointment-input-description-field{
	width: 100%;
	min-height: 100px;
}

.task-input-description-field{
	width: 100%;
	min-height: 50px;
}

.exclamation {
	font-size: 50px;
}

#today{
	text-align: center;
	border-right: 2px solid #3c763d;
}



.tasks-text-holder{
	border-radius: 7px;
    background: #E9EAF0;
    padding: 5px;
}

.tasks-text-style{
	margin-left: 10px;
	height:15px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.mem-text-holder{
	border-radius: 10px;
    background: #E9EAF0;
    padding: 5px;
    height: 155px;
}
.mem-text-style{
	margin-left: 8px;
	height:150px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.app-text-holder{
	border-radius: 7px;
    background: #E9EAF0;
    padding: 5px;
}

.app-text-style{
	margin-left: 10px;
	height:40px;
	overflow-y: scroll;
	overflow-x: hidden;
}